<!-- font awesons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Footer Section Start -->
<footer>
    <div class="footer-top pb-4">
        <div class="container">
            <div class="row g-5">
                <!-- Company Info and Social Icons -->
                <div class="col-lg-3 col-md-6">
                   <h3 class="mb-3"><span class="text-primary">Lerion</span><span class="text-accent-color">Jake</span>Nwauda</h3>
                   
                    <p class="lead-sm mb-4">Helping businesses transform their digital presence through our exclusive Alliance Program.</p>
                    <div class="social-icons d-flex align-items-center gap-3">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i> </a>
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <!-- Quick Links -->
                <div class="col-lg-3 col-md-6">
                    <h5 >Quick Links</h5>
                    
                    <ul class="mt-1">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="what-we-do.html">What We Do</a></li>
                        <li><a href="alliance-program.html">Alliance Program</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
                <!-- Alliance Program Links -->
                <div class="col-lg-3 col-md-6">
                    <h5>Alliance Program</h5>
                    
                    <ul class="text-white-color">
                        <li class="text-white-color"><a href="/alliance-program.html#Advantage"><i class="fa-solid fa-arrow-up-right-from-square"></i> Advantages</a></li>

                        <li><a href="/alliance-program.html#WhyChooseUs"><i class="fa-solid fa-arrow-up-right-from-square"></i> Why Choose Us</a></li>

                        <li><a href="/what-we-do.html#eligibility"><i class="fa-solid fa-arrow-up-right-from-square"></i> Eligibility</a></li>

                        <li><a href="/what-we-do.html#how-it-works"><i class="fa-solid fa-arrow-up-right-from-square"></i> How It Works</a></li>

                        <li class="aniamte-pulse"><a href="/apply.html" class="text-primary"><i class="fa-regular fa-heart"></i> Apply Now</a></li>
                    </ul>
                </div>
                <!-- Contact Information -->
                <div class="col-lg-3 col-md-6">
                    <h5>Contact Us</h5>
            
                    <ul >
                        <li class="d-flex gap-2"><span><i class="fa-regular fa-envelope fs-3 text-primary"></i></span> info@lerionjakenwauda.com</li>
                        <li class="d-flex  gap-2"><span><i class="fa-regular fa-phone-volume fs-3 text-primary"></i></span> +234 701 234 5678</li>
                        <li class="d-flex  gap-2"><span><i class="fa-regular fa-location-dot fs-3 text-primary"></i></span> 123 Innovation Drive Lagos, Nigeria</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section -->
    <div class="footer-bottom py-4 lead-sm-inner">
        <div class="container">
            <div class="row  justify-content-between align-items-center
              ">
                <div class="col-lg-6">
                    <p class="mb-0">© 2025 Lerion Jake Nwauda. All rights reserved.</p>
                </div>
                <div  class="col d-flex justify-content-end gap-4" >
                    <p class="mb-0">Privacy Policy</p>
                    <p class="mb-0">Terms of Service</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
